div#item_container div, div#result_container div {
    float: left;
    padding: 5px 10px;
    text-align: center;
    width: 25px;
}

div#item_container div {
    border: 1px solid #f00;
}

div#result_container div {
    border: 1px solid #00f;
}

a.up, a.down {
    cursor: pointer;
}

div#button_container {
    clear: both;
    padding: 25px 0;
}

button {
    margin: 15px 0;
}

#limit_container {
    padding-left: 10px;
}

/**
 * POUCH CALCULATOR STYLES
 */
#pouch_stuff_container { padding-top: 20px; }

.item_button_container { clear:both; }

.item_button_container button {
    float:left;
    padding: 0;
    margin: 5px;
    border: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    height: 72px;
    width: 72px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #4f5165;
    background-color: transparent;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

.item_button_container button:focus {
    outline: 0;
}

.item_button_container button:active {
    transform: scale(0.95);     /* Scaling button from its original size */
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

}
