div#item_container div, div#result_container div {
    float: left;
    padding: 5px 10px;
    text-align: center;
    width: 25px;
}

div#item_container div {
    border: 1px solid #f00;
}

div#result_container div {
    border: 1px solid #00f;
}

a.up, a.down {
    cursor: pointer;
}

div#button_container {
    clear: both;
    padding: 25px 0;
}

button {
    margin: 15px 0;
}

#limit_container {
    padding-left: 10px;
}

#pouch_stuff_container { padding-top: 20px; }

.item_button_container div {
    float:left;
    border: 2px solid #444;
    width: 72px;
    height: 72px;
    margin: 5px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

#stuff_FancyBlueChest01 { background-image: url("../image/items/FancyBlueChest01.webp"); }
#stuff_FancyBlueChest02 { background-image: url("../image/items/FancyBlueChest02.webp"); }
#stuff_BrownChest01 { background-image: url("../image/items/BrownChest01.webp"); }
#stuff_BrownChest02 { background-image: url("../image/items/BrownChest02.webp"); }
#stuff_DailyTaskChest01 { background-image: url("../image/items/DailyTaskChest01.webp"); }